* {
  box-sizing: border-box;
}

.main--playArea {
  width: 300px;
  height: 300px;
  border: 1px solid darkgray;
  margin: auto;
  padding: 14px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #a22de0, #bd73e6);
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}